@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  color:#ffcc00 ;
}

.navbar {
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Bangers', cursive;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
  background-color: #336699;
  border-radius: 5px;
}

.navbar h1 {
  letter-spacing: 1.5px;
  color: #ffcc00;
  text-shadow: 1px 1px #333;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #fff;
  border-radius: 10px;
  background-color: #ffcc00;
  box-shadow: 1px 1px #333;
}

.navbar a:hover {
  color: #336699;
  background-color: #fff;
}

/* content styles */
.content {
  max-width: 650px;
  margin: 40px auto;
  overflow-y: auto;
}

.spot {
  font-family: 'Bangers', cursive;
  position: relative;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fff;
  background-color: #336699;
  border-radius: 10px;
}

.spot:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.spot h2 {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  color: #ffcc00;
  margin-bottom: 8px;
  text-shadow: 1px 1px #333;
}

.surf-spot a{
  text-decoration: none;
}

.surf-details {
  font-family: 'Bangers', cursive;
  position: relative;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fff;
  background-color: #336699;
  border-radius: 10px;
}

.surf-details:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.surf-details h2 {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  color: #ffcc00;
  margin-bottom: 8px;
  text-shadow: 1px 1px #333;
}

.surf-details a{
  text-decoration: none;
}

.new-spot{
  font-family: 'Bangers', cursive;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.new-spot label {
  color: #ffcc00;
  text-align: left;
  display: block;
}
.new-spot h2 {
  font-size: 40px;
  color: #ffcc00;
  margin-bottom: 30px;
  background: #336699;
  border-radius: 10px;
}
.new-spot input, .new-spot textarea, .new-spot select {
  color: black;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 5px solid #336699;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
}
.new-spot button {
  font-family: 'Bangers', cursive;
  background: #336699;
  font-size: 30px;
  color: #ffcc00;
  border: 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.gallery div {
  border: 20px solid #fff;
  border-bottom-width: 100px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  width: 500px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 60px;
  transform: translateY(50px); /* Initial translation to create a sliding effect */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Apply transitions to opacity and transform */
}

.gallery img {
  margin: auto;
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.gallery-card {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 1.2rem;
  color: #fff;
  background-color: #ffcc00;
  padding: 10px 20px;
  border-radius: 10px;
}

.gallery-card label {
  letter-spacing: 1.5px;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  color: #ffcc00;
  text-shadow: 1px 1px #333;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

